{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-console": "off"
  },
  "overrides": [
    {
      "files": ["*.{js,jsx}"],
      "rules": {
        "no-redeclare": "off"
      }
    }
  ]
}
